body { 
background: url(../images/background-image1.png) no-repeat center center fixed; 
background-size: cover;
}

#logo-img {
  position: absolute;
  top: 20px; /* adjust to desired distance from top */
  left: 40px; /* adjust to desired distance from left */
  width: 230px; /* adjust to desired size */
  height: auto; /* maintain aspect ratio */
  z-index: 1;
}

#play-button {
  position: absolute;
  top: 300px; /* adjust to desired distance from top */
  left: 50px; /* adjust to desired distance from left */
  width: 200px; /* adjust to desired size */
  height: auto; /* maintain aspect ratio */
  z-index: 1;
}

/* #canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
} */

canvas {
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

#heart-icon {
  display: flex;
  justify-content: center;
}

.heart-life {
  width: auto;
  height: 55px;
}

  
  
  
  
