body {
  background: url(../images/web_bg.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

#left-column {
  position: relative;
  width: 19.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#left-column #logo-img {
  margin-top: 8vh;
  width: 95%;
}
#left-column #play-button {
  margin-top: 10%;
  width: calc(50px + 10vw);
  max-width: 200px;
}
#middle-column {
  width: 60vw;
}

#middle-column #life-container {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}
.life,
.heart {
  width: auto;
  height: 55px;
}
.life {
  padding-right: 5px;
}
.heart {
  padding-left: 5px;
}
/* .canvas-container {
  position: relative;
}
.canvas-container>img, canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.canvas-container>img {
  width: 100%;
} */

#right-column {
  width: 19vw;
  height: 90vh;
  margin-right: 6px;
}
#right-column .instructions {
  margin-top: 10vh;
  right: 0;
  width: 100%;
  height: auto;
}

footer {
  color:white;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  color: rgb(255, 255, 119);
  padding-left: 5%;
}